main{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginButton{
    background-color: lightgreen;
    padding: 15px 60px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 30px;
}

.loginButton:hover{
    color: white;
}

.infoButton{
    background-color: lightblue;
    padding: 15px 60px;
    border-radius: 10px;
    cursor: pointer;
}

.infoButton:hover{
    color: white;
}

.songPicture{
    height: 350px;
    width: 350px;
    margin-top: 50px;
}

.songTitle{
    text-align: center;
}

.songArtists{
    text-align: center;
}

.form-input{
    margin-top: 50px;
    box-sizing: border-box;
    height: 39px;
        width: 300px;
}

.form-submit{
    box-sizing: border-box;
    height: 39px;
        width: 100px;
}